
.TileContainer{
    float: left;
    border-radius: 5px;
    //padding-left : 10px;
    background: #fff;

}

.imgContainer {
    width: 30%;

     float: left;
}

.imgContainer span {
    margin-top: 10px;

}

.copyContainer {
    width: 67%;
     float: left;
    // color: #ddd;
    padding: 10px 0px 5px 66px;

}
.products{

  border :1px;

}
.panel {
    //margin-right: 42px!important;
    display: block;
}

.price {
    font-size: 20px;
    color: red;
}

.buttonContainer {
    float:left;
    width: 100%;
    padding:5px;
    background-color :#ddd;
    border:10px;
}
.img-thumbnail {
    margin-top: 23px;
    margin-left: 15px;

}
.container{
margin-left :10px;

}

.filterSection > h2{

  text-align: center;
  text-color:red;

}
.productForm > button{

text-align: center
}

 .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
 padding-left:0px;
 padding-right:0px;
 }
 .tableTable{

 padding-left:10px;
  padding-right:10px;
 }
 .productTablePanel{
 margin-left:20px;
 }

 .dashboard_graph .col-md-3 {
     padding: 16px;
     margin: 0px 30px;
     position: 31px 12px 33px 8px;
 }

#message{
background-color :green;
padding:15px;
}

.listHeading h3 {
    margin: 2px;
    font-weight: normal;
}
.dashboard_graph {
    background: #fff;
    padding: 7px 0px;
    /* padding-left: 0px; */
    margin-left: 0px;
}
.filterSection .glyphicon-filter:before {
    float: left;
    margin-right: 6px;
    margin-top: 6px;
}
.filterSection.panel.panel-default > span > h2{
float:left;margin-top:0px
}
.filterSection.panel.panel-default > h2{
float: right;
    margin-top: 3px;
    font-size: 12px;
}